@charset "ISO-8859-1";
.maindiv{
			width: 800x;
			margin: 0px auto;
			/* border:1px solid black; */
			padding: 15px;
			height: auto;
}
button{
		border-style: none;
		background-color: black;
		color: white;
		margin-left: 350px;
		padding: 2px;
}

#animate{
			width:100px;
			position:relative;
			height: 50px;
			background-color: black;
			text-shadow: green;
}

