@charset "ISO-8859-1";
body{
	   width: 500px;
	   margin: 0px auto;
}

label{
	   text-align: center;
}
button{
	    border: none;
	    background-color: black;
	    color: white;
	    margin-left: 200px;
	    margin-top: 10px;
	    
}
input{
	   width:300px;
}
input,button{
	border-radius: 5px;
}

