@charset "ISO-8859-1";
body{
		width: 500px;
		margin: 0px auto;
		
}
button{
		border: none;
		background-color: #408080;
		color: white;
		margin-left: 200px;
		padding: 5px;
		width: 100px;
}
h2{
	text-align: center;
	background-color: black;
	color: white;
}

.outerDiv{
	text-align: center;
	display:flex;
}
