@charset "ISO-8859-1";
button{
		border-style: none;
		background-color: black;
		color: white;
		margin-left: 150px;
		padding: 2px;
		/* position: absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,50%); */
}