body{
		width: 800px;
		margin: 0px auto;
}
button{
		 background-color: white;
		 color: black;
		 border: 1px solid black;
		 margin-top: 10px;
}
p,span,div{
			background-color: #008080;
		 	color: #ffffff;
		 	border: 1px solid black;
		 	height: 25px;
}