@charset "ISO-8859-1";
body{
	  width: 700px;
	  margin: 0px auto;
}
h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	background-color: #008080;
	color: white;
	border-radius: 25px;
}
#panel,#flip{
	padding: 3px;
	border: 1px solid #008080;
	text-align: center;
	background-color: #008080;
	color: white;
	border-radius: 25px;
	
}
#panel{
	padding : 50px;
	display:none;
	background-color: #00c6c6;
}