@charset "ISO-8859-1";
body{
	  background-image:url("../images/window-3.jpg");
	  background-repeat: no-repeat;
	  background-size: 100%;
}

#mainPopup{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1001;
}
#popup{
		width: 400px;
		height: 200px;
		background-image:linear-gradiant(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGwCcCD4XUPMKRs4crjDoTO8gvJ_Vzq9GyidrixG9Iqgwj40julQ&s");
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		box-shadow: 2px 2px 2px 2px skyblue;
		text-align: center;
}

#newsHeading{
				color: white;
				transform:translateY(-50%);
}
#emailId{
			width:60%;
			padding: 5px;
			margin-top: 20px;
			margin-bottom: 20px;
}

.submitId{
			background-color: #9595ff;
			border: none;
			color: white;
			padding: 4px;
}