.maindiv{
			width: 700px;
			margin: 0px auto;
			display: flex;
			text-align: center;
}
.red{
	
	  border: 1px solid black;
	  height: 250px;
	  width:100px;
}
.black{
	  border: 1px solid black;
	  height: 250px;
	  width:100px;
}